<%= form_with(model: user_type, local: true) do |form| %>
  <% if user_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_type.errors.count, "error") %> prohibited this user_type from being saved:</h2>

      <ul>
      <% user_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :authorizeDiscount %>
    <%= form.check_box :authorizeDiscount %>
  </div>

  <div class="field">
    <%= form.label :comissionPercentage %>
    <%= form.text_field :comissionPercentage %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
