<div class="container">
  <%= form_for(@user_type) do |f| %>
  <% if @user_type.errors.any? %>

  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4><%= pluralize(@user_type.errors.count, 'erro') %>
      <%= t("impedir", count: @user_type.errors.count) %>
      <%=t :of_save %>.
    </h4>
    <ul>
      <% @user_type.errors.full_messages.each do |message| %>
      <li><%= message %>.</li>
      <% end %>
    </ul>
  </div>

  <% end %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :authorizeDiscount %>
    <%= f.check_box :authorizeDiscount, class:"checkbox" %>
  </div>
  <div class="form-group">
    <%= f.label :commissionPercentage %><br>
    <%= f.number_field :commissionPercentage,step: 0.5, class:"form-control" %>
  </div>
  <div class="actions">
    <%= button_tag( :class => "btn btn-success") do %>
    <i class="fa fa-save"></i>
    <%=t :save %>
    <% end %>
    <%= link_to user_types_path, class: "btn btn-default" do %>
    <i class="fa fa-ban"></i>
    <%=t :cancel %>
    <% end %>
  </div>
  <% end %>
</div>
