<div class="container">
  <h3>
    <%= t("activerecord.models.user_type", count: @user_types.count) %>
  </h3>
  <div class="container" align="right">
    <%= link_to new_user_type_path, class: "btn btn-success btn-circle" do %>
    <i class="fa fa-plus"></i>
    <% end %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>
          <%= UserType.human_attribute_name("name")%>
        </th>
        <th>
          <%= UserType.human_attribute_name("description")%>
        </th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @user_types.each do |user_type| %>
      <tr>
        <td>
          <%= user_type.name %>
        </td>
        <td>
          <%= user_type.description %>
        </td>
        <td>
          <%= link_to user_type, class: "btn btn-primary btn-circle" do %>
          <i class="fa fa-eye"></i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_user_type_path(user_type), class: "btn btn-default btn-circle" do %>
          <i class="fa fa-edit"></i>
          <% end %>
        </td>
        <td>
          <%= link_to user_type, method: :delete, data: { confirm: t('links.are_you_sure') } , class: "btn btn-danger btn-circle" do %>
          <i class="fa fa-trash"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
