<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <% if notice %>
      <div class="alert alert-success alert-dismissible role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= notice %>
      </div>
      <% end %>
      <h3>
        <%= t("activerecord.models.user_type", count: 1) %>
      </h3>
      <div class="well">
        <p>
          <strong>
            <%= UserType.human_attribute_name("name")%>:</strong>
            <%= @user_type.name %>
          </p>
          <p>
            <strong>
              <%= UserType.human_attribute_name("description")%>:</strong>
              <%= @user_type.description %>
            </p>
            <p>
              <strong>
                <%= UserType.human_attribute_name( "authorizeDiscount")%>:</strong>
                <%=human_boolean(@user_type.authorizeDiscount)  %>
              </p>
              <p>
                <strong>
                  <%= UserType.human_attribute_name("commissionPercentage")%>:</strong>
                  <%= @user_type.commissionPercentage %>
                </p>
              </div>
              <%= link_to edit_user_type_path(@user_type), class: "btn btn-info" do %>
              <i class="fa fa-edit"></i>
              <%=t :edit %>
              <% end %>
              <%= link_to user_types_path, class: "btn btn-default" do %>
              <i class="fa fa-arrow-left"></i>
              <%=t :back %>
              <% end %>
    </div>
  </div>
</div>
