<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_type.description %>
</p>

<p>
  <strong>Authorizediscount:</strong>
  <%= @user_type.authorizeDiscount %>
</p>

<p>
  <strong>Comissionpercentage:</strong>
  <%= @user_type.comissionPercentage %>
</p>

<%= link_to 'Edit', edit_user_type_path(@user_type) %> |
<%= link_to 'Back', user_types_path %>
